.project-detail {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* BACK BUTTON */
.back-button {
  background: none;
  border: none;

  font-size: var(--font-body);
  color: var(--color-primary);

  cursor: pointer;
}

/* IMAGE */
.detail-image {
  width: 100%;
  border-radius: 12px;

  margin: 1.5rem 0;
}

/* MARKDOWN */
.markdown h1 {
  font-size: var(--font-h1);
}

.markdown h2 {
  font-size: var(--font-h2);
}

.markdown p {
  font-size: var(--font-body);
}

.markdown ul {
  padding-left: 1.5rem;
}