.footer {
  background: var(--color-footer-bg);
  color: var(--color-footer-text);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-5);
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  margin-top: var(--space-2);
}

.footer-center,
.footer-right{
  flex: 1;
  min-width: 200px;
}

.footer-contact {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-footer-text);
}

.social-icon-link {
  transition: var(--transition-normal);
}

.social-icon-link:hover {
  transform: scale(1.1);
}

.social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}